<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>Oracle JET - Lesson 3</h1>
<div class="oj-panel oj-bg-neutral-30 oj-sm-margin-2x" style="width:500px;">
    <oj-collapsible expanded="true" data-oj-binding-provider="none">
        <h5 slot="header">Interaction with Oracle Cloud Services</h5>
        <h6>oj-collapsible - Component</h6>
        <div>
            1. Oracle Cloud Service<br/>
            2. Java Cloud Service<br/>
            3. Visual Builder Cloud Service<br/>
        </div>
    </oj-collapsible>
</div>
<div class="oj-panel oj-bg-neutral-30 oj-sm-margin-2x" style="width:500px;">
    <oj-collapsible expanded="true" data-oj-binding-provider="none">
        <h5 slot="header">Accessibility</h5>
        <h6>oj-collapsible - Component</h6>
        <div>
            1. Oracle Cloud Service<br/>
            2. Java Cloud Service<br/>
            3. Visual Builder Cloud Service<br/>
        </div>
    </oj-collapsible>
</div>